<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="">
    <carousel>
        <slide>
          <img src="assets/images/nature/1.jpg" alt="First slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/nature/2.jpg" alt="Second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/nature/3.jpg" alt="Third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
    </div>
 <!--
  <h3>Basic Bootstrap Concepts</h3>
  <ul class="list-unstyled">
    <li>Display Class</li>
    <li>
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item"><p class="lead display-4">Display4</p></li>
        <li class="list-inline-item"><p class="display-3">Display3</p></li>
      </ul>
    </li>
    <li>Button and Button Group</li>
    <li>Nav and Nav Bar</li>
  </ul>
  <h1><small>Small Tag within h1</small></h1>
  <div class="jumbotron text-warning">
    <h4>Content with Jumbotran</h4>
    <p class="lead text-justify"> Lead class in paragraph tag to start content with text-justify. Sample content to check various format</p>				
  </div>
  <div class="bg-primary text-warning p-2">
    <h4 class="p-1">Alert with Close</h4>
    <div class="alert alert-danger alert-dismissable fade show m-2">
      <button type="button" class="close" data-dismiss="alert">&times;</button> 
      <strong>This is example of Alert with danger</strong>
    </div>
    <div class="alert alert-success alert-dismissable fade show m-2">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
    <alert type="success" [dismissible]="dismissible">
      <strong>Well done!</strong> You successfully read this important alert message.
    </alert>
  </div>
-->
</div>
