<div class="row bg-info">
  <div class="col-lg-12">
    <ul class = "nav nav-tabs">
      <li class="nav-tem"><a routerLink="" class="nav-link text-white" >Home-Grid</a></li>
      <li class="nav-tem"><a routerLink="/table" class="nav-link text-white" >Tables and images</a></li>
      <li class="nav-tem"><a routerLink="/register" class="nav-link text-white" >Register</a></li>
      <li class="nav-tem"><a routerLink="/customhttp" class="nav-link text-white" >HTTP Service</a></li>
    </ul>
  </div>
</div>