<div class="col-lg-12 col-md-12 col-sm-12 bg-light text-dark" style="min-height:600px;">
  <p class="dispaly-3 text-success text-bold">Button Group</p>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-info m-1">Info <span class="badge-pill badge-light">5</span></button>
    <button type="button" class="btn btn-primary m-1">Message</button>
  </div>
  <div class="list-group mt-2">
    <p class="dispaly-3 text-success text-bold">List Group</p>
    <a class="list-group-item list-group-item-action list-group-item-danger" href="">Link one</a>
    <a class="list-group-item list-group-item-success" href="">Link Two</a>
  </div> 
</div>
